<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-5.jpg">

<!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->

  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <%= team._id %>
            </a>
        </div>
        <ul class="nav">
          <li>
              <a href="/proposal/create">
                  <i class="pe-7s-file"></i>
                  <p>New Proposal</p>
              </a>
          </li>
            <li>
                <a href="/dashboard">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="/proposal">
                    <i class="pe-7s-user"></i>
                    <p>Proposals</p>
                </a>
            </li>
            <li>
                <a href="/sets">
                    <i class="pe-7s-copy-file"></i>
                    <p>Sets</p>
                </a>
            </li>
        </ul>
  </div>
</div>
